version: '3.9'

services:
  nextjs:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: nextjs-app
    command: npm run dev
    working_dir: /app
    volumes:
      # Mount your project source into the container
      - .:/app
      # Keep node_modules container-only (to avoid OS/node ABI mismatch)
      - /app/node_modules
    ports:
      - '3000:3000'
    environment:
      NODE_ENV: development
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/webdev
      MONGO_URL: mongodb://root:example@mongo:27017/devdb?authSource=admin
    depends_on:
      - postgres
      - mongo

  postgres:
    image: pgvector/pgvector:pg17-trixie # postgres with pg-vector - vector database
    container_name: postgres-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: webdev
    ports:
      - '5432:5432'
    volumes:
      - ./data/postgres:/var/lib/postgresql/data

  mongo:
    image: mongo:8.0-noble
    container_name: mongo-db
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    ports:
      - '27017:27017'
    volumes:
      - ./data/mongo:/data/db
