@import 'tailwindcss';

/*ORiginal Global css, commented to add proj specific*/
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

/*CSS for landing page*/
/* .wd-hero-img {
  width: 100%;
  height: 80vh;
  background-image: url('/images/landing-page-hero.jpg') !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */

.wd-hero-img {
  width: 100%;
  height: 100vh;
  background-image: url('/images/landing-page-hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  padding-top: 40vh;
}

.wd-cyan {
  color: #22d3ee;
}

.wd-nav-bar-item {
  text-decoration: none !important;
}
